private_conf = {
	db = {
		development = { -- current environment
			driver = 'postgres',
			host = 'localhost',
      port = 5432,
			user = '',
			pass = '',
			dbname = '',
		}
	},
}

return private_conf