private_conf = {
	db = {
		development = { -- current environment
			driver = 'postgres',
			host = 'localhost',
      port = 5432,
			user = '',
			pass = '',
			dbname = '',
		}
	},
  access_module = {
    -- set in private_conf.lua!
    -- default_login = 'admin',	    -- Default login details
    -- default_password = 'demo123',
  },
}

return private_conf